body {
  background-color: @brand-primary;
}

.hidingBottom {
  top: 100%;
}

.abs {
  position: absolute;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: inherit;
}

@import "othere-mobile.import.less";

.whitefont {
  color: #fff !important;
}

.glyphs {
  background-color: @brand-primary;
  border: 0;
}

input.transparent-input { 
    border:none !important;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border:none;
}

input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
}

.btn-black {
  background-color: #000
}